/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
  /* Container for the whole app */
.note-body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
  /* Header styles */
.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

.note-header .title-section {
    display: flex;
    align-items: center;
}

.note-h3 {
    font-size: 24px;
    margin: 0;
}
  
.note-logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
  
  /* Main content styles */
.notes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
  
/* .section-title {
    font-size: 18px;
    margin-bottom: 10px;
} */
  
  /* NoteForm styles */
.note-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
  
.note-form label {
    font-size: 16px;
    margin-bottom: 5px;
}
  
.note-form .form-group .title,
.note-form .form-group .content {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}
  
.note-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* NotesList styles */
.notes-list {
    margin-top: 20px;
}
  
.notes-list input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
  
/* NoteCard styles */
.note-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
  
.note-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
  
.note-card p {
    font-size: 14px;
}
  
/* RichTextEditor styles */
.rich-text-editor {
    margin-top: 20px;
}
  
.rich-text-editor button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.text-editor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
  
.rich-text-editor .DraftEditor-root {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 200px;
    margin-top: 20px;
}
